.lodedive {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loodaniamtion {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 1rem solid transparent;
  border-top-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: lodeanimation 3s linear infinite;
}
.imglood {
  transform: translate(20px, -172px);
  @include responsive(phone-l) {
    transform: translate(16px, -139px);
  }
  @include responsive(tab-land) {
    transform: translate(19px, -161px);
  }
  @include responsive(tab-768) {
    transform: translate(16px, -139px);
  }
  @include responsive(big-desktop) {
    transform: translate(29px, -244px);
  }
}
.lod-animay {
  height: 14rem;
}

.onlode {
  display: none;
}
