@import 'meadiaQuarry';
@import 'home';
@import 'portfolio';
@import 'mywork';
@import 'footer';
@import 'loodanimation';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include responsive(tab-land) {
    font-size: 15px;
  }
  @include responsive(tab-port) {
    font-size: 13px;
  }
  @include responsive(phone-l) {
    font-size: 13px;
  }
  @include responsive(phone-s) {
    font-size: 13px;
  }

  @include responsive(big-desktop) {
    font-size: 23px;
  }
}
html {
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
  overflow-y: scroll;
}

body {
  font-family: 'Tomorrow', sans-serif;
  background: linear-gradient(90deg, #d53369 0%, #cbad6d 100%);
  background-repeat: repeat-y;
  background-size: cover;
  color: white;
  max-width: 100vw;
}
//.displayContent {
// max-width: 1536px;
// margin: auto;
//}

//lode animation

@keyframes lodeanimation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes arrowanimation {
  0% {
    transform: translate(-2px, 0px);
  }
  50% {
    transform: translate(-9px, 0px);
  }
  100% {
    transform: translate(-18px, 0px);
  }
}
@keyframes headerwanimation {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-5px, 0px);
  }
  100% {
    transform: translate(-10px, 0px);
  }
}
