* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 1233px) {
  * {
    font-size: 15px;
  }
}

@media only screen and (max-width: 900px) {
  * {
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  * {
    font-size: 13px;
  }
}

html {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
      scroll-snap-points-y: repeat(100vh);
  overflow-y: scroll;
}

body {
  font-family: 'Tomorrow', sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#d53369), to(#cbad6d));
  background: linear-gradient(90deg, #d53369 0%, #cbad6d 100%);
  background-repeat: repeat-y;
  background-size: cover;
  color: white;
  max-width: 100vw;
}

.home {
  width: 80%;
  margin: auto;
  max-height: 100vh;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  scroll-snap-align: center;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  outline: none;
  background: transparent;
}

@media only screen and (max-width: 378px) {
  .nav-bar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav-bar .logo {
  margin-top: 5px;
  cursor: pointer;
}

.nav-bar a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0px 10px;
  font-size: 1.2em;
  font-family: 'Playfair Display SC', serif;
}

@media only screen and (max-width: 378px) {
  .nav-bar .nav-itom {
    display: none;
  }
}

.nav-bar .nav-itom :last-child {
  margin-right: 0px;
}

.nav-bar img {
  width: 60px;
  height: 60px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin-top: 3em;
}

@media only screen and (max-width: 900px) {
  .content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    background-size: cover;
    margin-left: 5rem;
  }
  .content img {
    opacity: 0.5;
  }
}

@media only screen and (max-width: 900px) {
  .content .header1 {
    width: 15rem;
  }
}

@media only screen and (max-width: 900px) {
  .content {
    margin-top: 10rem;
  }
}

@media only screen and (max-width: 1233px) {
  .content {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 378px) {
  .content {
    margin-left: 3rem;
    margin-top: 11rem;
  }
}

@media screen and (max-width: 330px) {
  .content {
    margin-left: 1rem;
    margin-top: 11rem;
  }
}

.content .tex {
  width: 50%;
  height: 100%;
}

.content .home-svg {
  width: 50%;
  height: 100%;
  min-width: 380px;
}

@media only screen and (max-width: 500px) {
  .content .home-svg img {
    display: none;
  }
}

.content img {
  width: 100%;
  height: 100%;
}

.content h2 {
  font-family: 'Tinos', serif;
  color: white;
  font-size: 4.5rem;
  margin-bottom: 0.3rem;
}

@media only screen and (max-width: 1233px) {
  .content h2 {
    font-size: 3rem;
  }
}

.content .paragraph {
  color: white;
  font-size: 1.7em;
  margin-top: 0.6rem;
}

@media only screen and (max-width: 500px) {
  .content .paragraph {
    width: 20rem;
  }
}

@media only screen and (max-width: 500px) {
  .content .paragraph p {
    font-size: 1.3rem;
  }
}

.icon-pack {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 2.5rem;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: fixed;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 50%;
  left: -15%;
  z-index: 100;
  -webkit-transition: all 0.3 ease-in;
  transition: all 0.3 ease-in;
}

@media only screen and (max-width: 900px) {
  .icon-pack {
    width: 36%;
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .icon-pack {
    font-size: 10px;
    width: 65%;
    margin-left: -4.3rem;
  }
}

@media only screen and (max-width: 378px) {
  .icon-pack {
    margin-left: -3.3rem;
  }
}

@media screen and (max-width: 330px) {
  .icon-pack {
    left: -13%;
  }
}

.icon-pack img {
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media only screen and (max-width: 500px) {
  .icon-pack img {
    width: 30px;
    height: 30px;
  }
}

.remove {
  display: none;
}

.circle .circle-two {
  background-color: #e9c0bc;
  position: absolute;
  top: 9rem;
  left: 6rem;
  border-radius: 50%;
  opacity: 0.5;
  z-index: -1;
  width: 27.7vh;
  height: 27.7vh;
}

.circle .circle-three {
  background-color: #e9af3d;
  position: absolute;
  top: 23rem;
  left: 32rem;
  border-radius: 50%;
  opacity: 0.5;
  z-index: -1;
  width: 30.4vh;
  height: 30.4vh;
}

.circle .circle-four {
  background-color: #40476a;
  position: absolute;
  top: 4rem;
  left: 33rem;
  border-radius: 50%;
  opacity: 0.5;
  z-index: -1;
  width: 22.1vh;
  height: 22.1vh;
}

.circle .circle-one {
  background-color: #0ed1a2;
  position: absolute;
  top: 3rem;
  left: 65rem;
  border-radius: 50%;
  opacity: 0.5;
  z-index: -1;
  width: 22.1vh;
  height: 22.1vh;
}

.circle .circle-five {
  background-color: #1bf1f1;
  position: absolute;
  top: 19rem;
  left: 62rem;
  border-radius: 50%;
  opacity: 0.5;
  z-index: -1;
  width: 22.1vh;
  height: 22.1vh;
}

.Portfolio {
  position: relative;
  scroll-snap-align: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  background-image: url(../img/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}

@media only screen and (max-width: 500px) {
  .Portfolio {
    background-image: none;
  }
}

.Portfolio .Portfolio-content {
  z-index: -10;
}

.Portfolio .Portfolio-content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

.Portfolio .Portfolio-content .header h2 {
  font-family: 'Tinos', serif;
  font-size: 2.3rem;
}

@media only screen and (max-width: 378px) {
  .Portfolio .Portfolio-content .header h2 {
    font-size: 1.5rem;
  }
}

.Portfolio .Portfolio-content img {
  width: 15.6rem;
  height: 15.6rem;
  border-radius: 50%;
  margin-top: 1em;
}

@media only screen and (max-width: 1233px) {
  .Portfolio .Portfolio-content img {
    width: 16rem;
    height: 16rem;
    margin-top: 0rem;
  }
}

@media only screen and (max-width: 500px) {
  .Portfolio .Portfolio-content img {
    width: 13rem;
    height: 13rem;
    margin-top: 0rem;
  }
}

@media only screen and (max-width: 378px) {
  .Portfolio .Portfolio-content img {
    width: 11rem;
    height: 11rem;
  }
}

.Portfolio .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em auto;
}

@media only screen and (max-width: 500px) {
  .Portfolio .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 378px) {
  .Portfolio .footer {
    height: 40%;
  }
}

.Portfolio .footer .footer1 .bio-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
}

@media only screen and (max-width: 500px) {
  .Portfolio .footer .footer1 .bio-data {
    font-size: 1.1rem;
  }
}

.Portfolio .footer .footer1 .bio-data h3:last-child {
  margin-left: 2rem;
}

@media only screen and (max-width: 500px) {
  .Portfolio .footer .footer1 .bio-data h3:last-child {
    margin-left: 0.6rem;
  }
}

.Portfolio .footer .foot {
  width: 38%;
}

@media only screen and (max-width: 378px) {
  .Portfolio .footer .foot {
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .Portfolio .footer .foot {
    width: 100%;
  }
}

.Portfolio .footer .foot h2 {
  font-family: 'Tinos', serif;
  font-size: 2rem;
}

.Portfolio .footer .foot P {
  font-size: 1.5rem;
  font-family: 'Tomorrow', sans-serif;
}

@media only screen and (max-width: 500px) {
  .Portfolio .footer .foot P {
    font-size: 1.1rem;
  }
}

.Portfolio .footer .middle-bar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Portfolio .footer .middle-bar .bar {
  width: 2px;
  height: 100%;
  background: white;
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .Portfolio .footer .middle-bar .bar {
    height: 2px;
    width: 90%;
    margin: 1rem auto;
    background: -webkit-gradient(linear, left top, right top, from(#dae2f8), to(#d6a4a4));
    background: linear-gradient(90deg, #dae2f8 0%, #d6a4a4 100%);
  }
}

.Portfolio .circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  background-color: yellow;
  z-index: -1;
}

.Portfolio .pone {
  top: 3rem;
  left: 24rem;
  width: 6rem;
  height: 6rem;
  background-color: #ed9e6b;
}

.Portfolio .ptwo {
  top: 5rem;
  left: 9rem;
  width: 10rem;
  height: 10rem;
  background-color: #1cce2e;
}

@media only screen and (max-width: 500px) {
  .Portfolio .ptwo {
    display: none;
  }
}

.Portfolio .pthree {
  top: 19rem;
  left: 9rem;
  width: 8rem;
  height: 8rem;
  background-color: #9e809a;
}

.Portfolio .pfour {
  top: 28rem;
  left: 12rem;
  width: 6rem;
  height: 6rem;
  background-color: #96d7c5;
}

.Portfolio .pfive {
  top: 19rem;
  left: 20rem;
  width: 9rem;
  height: 9rem;
  background-color: #d4f94e;
}

.Portfolio .psix {
  top: 32rem;
  left: 33rem;
  width: 10rem;
  height: 10rem;
  background-color: #d83cbe;
}

.Portfolio .pseven {
  top: 22rem;
  right: 27rem;
  width: 12rem;
  height: 12rem;
  background-color: #f9524e;
}

.Portfolio .peight {
  top: 6rem;
  right: 10rem;
  width: 9rem;
  height: 9rem;
  background-color: #d61e90;
}

@media only screen and (max-width: 500px) {
  .Portfolio .peight {
    display: none;
  }
}

.Portfolio .pnine {
  top: 2rem;
  right: 27rem;
  width: 10rem;
  height: 10rem;
  background-color: #343ecf;
}

.Portfolio .pten {
  top: 32rem;
  right: 8rem;
  width: 6rem;
  height: 6rem;
  background-color: #ad8ca0;
}

.Portfolio .peleven {
  top: 34rem;
  right: 35rem;
  width: 10rem;
  height: 10rem;
  background-color: #ad8ca0;
}

@media only screen and (max-width: 500px) {
  .Portfolio .peleven {
    display: none;
  }
}

.Portfolio .ptwelve {
  top: 17rem;
  right: 6rem;
  width: 12rem;
  height: 12rem;
  background-color: #ad8ca0;
}

.Portfolio .pthirteen {
  background-color: #ad8ca0;
}

.Portfolio .pfourteen {
  background-color: #ad8ca0;
}

.my-work {
  max-height: 100vh;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  position: relative;
  width: 90%;
  overflow: hidden;
  margin: auto;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  scroll-snap-align: center;
}

.my-work .img-one {
  width: 45.6rem;
  height: 24.3rem;
  -ms-grid-column: 10;
      grid-column-start: 10;
  -ms-grid-row: 14;
      grid-row-start: 14;
  margin-right: 5rem;
}

@media only screen and (max-width: 500px) {
  .my-work .img-one {
    margin: 0rem 2rem;
  }
}

@media only screen and (max-width: 378px) {
  .my-work .img-one {
    margin: 0rem 0rem;
    margin-left: 0rem;
  }
}

.my-work .img-one .img-one-responsive {
  display: none;
}

@media only screen and (max-width: 500px) {
  .my-work .img-one {
    width: 30.6rem;
    height: 9.3rem;
  }
  .my-work .img-one .img-one-responsive {
    display: block;
  }
  .my-work .img-one .img-one-full {
    display: none;
  }
}

.my-work .img-one img {
  -webkit-box-shadow: -27px -19px 30px 1px rgba(0, 0, 0, 0.25);
          box-shadow: -27px -19px 30px 1px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1233px) {
  .my-work .img-one {
    width: 35.6rem;
    height: 14.3rem;
  }
}

@media only screen and (max-width: 900px) {
  .my-work .img-one {
    margin-right: 12rem;
  }
}

.my-work .img-two {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 8;
  width: 45.6rem;
  height: 24.3rem;
}

@media only screen and (max-width: 500px) {
  .my-work .img-two {
    margin: 0rem 2rem;
  }
}

.my-work .img-two .img-two-responsive {
  display: none;
}

@media only screen and (max-width: 500px) {
  .my-work .img-two {
    width: 30.6rem;
    height: 9.3rem;
  }
  .my-work .img-two .img-two-full {
    display: none;
  }
  .my-work .img-two .img-two-responsive {
    display: block;
  }
}

@media only screen and (max-width: 1233px) {
  .my-work .img-two {
    width: 35.6rem;
    height: 14.3rem;
  }
}

@media only screen and (max-width: 900px) {
  .my-work .img-two {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 378px) {
  .my-work .img-two {
    margin: 0rem 0rem;
  }
}

.my-work .img-two img {
  -webkit-box-shadow: -27px -19px 30px 1px rgba(0, 0, 0, 0.25);
          box-shadow: -27px -19px 30px 1px rgba(0, 0, 0, 0.25);
}

.my-work .img-one:hover {
  cursor: pointer;
  z-index: 1;
}

.my-work .img-two:hover {
  cursor: pointer;
  z-index: 1;
}

.my-work .discripson-one {
  grid-row-end: 15;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 7;
  margin-top: 15rem;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-transform: translate(200px, 0px);
          transform: translate(200px, 0px);
}

@media only screen and (max-width: 900px) {
  .my-work .discripson-one {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 11;
    margin-top: 26rem;
  }
}

@media only screen and (max-width: 500px) {
  .my-work .discripson-one {
    -ms-grid-row: 12;
        grid-row-start: 12;
    grid-row-end: 12;
    margin-left: 3rem;
    width: 22rem;
    margin-top: 0rem;
  }
}

@media screen and (max-width: 330px) {
  .my-work .discripson-one {
    width: 19rem;
  }
}

.my-work .discripson-one h3 {
  font-family: 'Tinos', serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.my-work .discripson-one p {
  font-size: 1.2rem;
}

.my-work .active {
  opacity: 1;
}

.my-work .discripson-two {
  grid-row-end: 8;
  -ms-grid-column: 10;
      grid-column-start: 10;
  margin-left: 16rem;
  margin-right: 4rem;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  opacity: 0;
  -webkit-transform: translate(-200px, 0px);
          transform: translate(-200px, 0px);
}

@media only screen and (max-width: 500px) {
  .my-work .discripson-two {
    width: 25rem;
    margin-left: 3rem;
    margin-right: 0rem;
    grid-row-end: 13;
  }
}

@media screen and (max-width: 330px) {
  .my-work .discripson-two {
    width: 19rem;
  }
}

.my-work .discripson-two h3 {
  font-family: 'Tinos', serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.my-work .discripson-two p {
  font-size: 1.2rem;
}

.my-work .active {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.my-work .circle {
  position: absolute;
  border-radius: 50%;
  background-color: #d4f94e;
}

.my-work .one {
  background: rgba(41, 209, 221, 0.5);
  top: 5rem;
  left: 4rem;
  width: 12rem;
  height: 12rem;
}

.my-work .two {
  background: rgba(0, 78, 146, 0.5);
  top: 4rem;
  left: 70rem;
  width: 10rem;
  height: 10rem;
}

.my-work .three {
  background: rgba(223, 101, 138, 0.5);
  top: 25rem;
  left: 65rem;
  width: 13rem;
  height: 13rem;
}

.my-work .four {
  background: rgba(218, 198, 27, 0.51);
  top: 8rem;
  left: 43rem;
  width: 11rem;
  height: 11rem;
}

.my-work .five {
  background: rgba(35, 182, 94, 0.5);
  top: 32rem;
  left: 39rem;
  width: 11rem;
  height: 11rem;
}

.my-work .six {
  background: rgba(174, 37, 216, 0.5);
  top: 22rem;
  left: 20rem;
  width: 11.5rem;
  height: 11.5rem;
}

.footrmain {
  scroll-snap-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

@media only screen and (max-width: 500px) {
  .footrmain {
    overflow: hidden;
  }
}

.footrmain .icon-pack-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media screen and (max-width: 330px) {
  .footrmain .icon-pack-footer {
    margin: 0rem auto;
  }
  .footrmain .icon-pack-footer a :first-child {
    margin-left: 0rem;
  }
  .footrmain .icon-pack-footer a :last-child {
    margin-right: 0rem;
  }
}

@media only screen and (max-width: 500px) {
  .footrmain .icon-pack-footer a {
    width: 5rem;
  }
  .footrmain .icon-pack-footer img {
    width: 3rem;
    height: 3rem;
    margin: 0rem;
  }
}

@media only screen and (max-width: 378px) {
  .footrmain .icon-pack-footer {
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 900px) {
  .footrmain .icon-pack-footer {
    margin-top: 3rem;
  }
}

.footrmain .icon-pack-footer img {
  margin: 0rem 2.5rem;
  -webkit-transition: width, height 0.5s ease-in;
  transition: width, height 0.5s ease-in;
}

.footrmain .icon-pack-footer img:hover {
  width: 5rem;
  height: 5rem;
}

.footrmain .heading {
  height: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.footrmain .heading h2 {
  font-family: 'Tinos', serif;
  font-size: 2.3rem;
}

.footrmain .content {
  height: 65vh;
  width: 100%;
  background-size: cover;
  background-image: url(../img/footer.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.footrmain .content img {
  opacity: 1;
}

.footrmain .content .gamilcontact {
  width: 80%;
  margin: 0px auto;
  height: 10vh;
  margin-top: 36vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  .footrmain .content .gamilcontact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footrmain .content .gamilcontact img {
  width: 5rem;
  height: 5rem;
}

@media only screen and (max-width: 500px) {
  .footrmain .content .gamilcontact img {
    width: 3rem;
    height: 3rem;
  }
}

.footrmain .content .gamilcontact .home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin: 0;
  -webkit-box-flex: 21;
      -ms-flex: 21;
          flex: 21;
}

@media only screen and (max-width: 500px) {
  .footrmain .content .gamilcontact .home-content {
    margin-right: 1rem;
  }
}

.footrmain .content .gamilcontact .home-content h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 500px) {
  .footrmain .content .gamilcontact .home-content h4 {
    font-size: 1rem;
  }
}

.footrmain .content .gamilcontact .gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin: 0;
  -webkit-box-flex: 21;
      -ms-flex: 21;
          flex: 21;
}

.footrmain .content .gamilcontact .gmail h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 500px) {
  .footrmain .content .gamilcontact .gmail h4 {
    font-size: 1rem;
  }
}

.footrmain .content .gamilcontact .goTop {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .footrmain .content .gamilcontact .goTop {
    height: 21rem;
    width: 30rem;
  }
}

@media screen and (max-width: 330px) {
  .footrmain .content .gamilcontact .goTop {
    height: 6rem;
  }
}

.footrmain .content .gamilcontact .goTop h1 {
  font-size: 1.5rem;
  -webkit-animation: headerwanimation 3s ease infinite;
          animation: headerwanimation 3s ease infinite;
}

@media only screen and (max-width: 500px) {
  .footrmain .content .gamilcontact .goTop h1 {
    font-size: 1.2rem;
  }
}

.footrmain .content .gamilcontact .goTop span {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 1.6rem;
  -webkit-animation: arrowanimation 0.5s 0.3s linear infinite;
          animation: arrowanimation 0.5s 0.3s linear infinite;
  color: #282be0;
}

.footrmain .content .coppyright {
  width: 80%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
}

@media only screen and (max-width: 378px) {
  .footrmain .content .coppyright span {
    font-size: 0.9rem;
  }
}

.footrmain .content .coppyright h2 {
  font-size: 1.2rem;
}

@media only screen and (max-width: 500px) {
  .footrmain .content .coppyright h2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 378px) {
  .footrmain .content .coppyright h2 {
    font-size: 0.9rem;
  }
}

.footrmain .content .copy {
  width: 100%;
  background-color: #dd9993;
}

.footrmain .circle {
  position: absolute;
  opacity: 0.5;
  border-radius: 50%;
  opacity: 0.3;
  z-index: -1;
}

.footrmain .one {
  top: 12rem;
  left: 5rem;
  width: 15rem;
  height: 15rem;
  background-color: #6c63ff;
}

.footrmain .two {
  top: 13rem;
  left: 46rem;
  width: 12rem;
  height: 12rem;
  background-color: #d717f6;
}

.footrmain .three {
  top: 5rem;
  left: 79rem;
  width: 11rem;
  height: 11rem;
  background-color: #f7bb97;
}

.lodedive {
  background-color: black;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loodaniamtion {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 1rem solid transparent;
  border-top-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: lodeanimation 3s linear infinite;
          animation: lodeanimation 3s linear infinite;
}

.imglood {
  -webkit-transform: translate(20px, -172px);
          transform: translate(20px, -172px);
}

@media only screen and (max-width: 500px) {
  .imglood {
    -webkit-transform: translate(16px, -139px);
            transform: translate(16px, -139px);
  }
}

@media only screen and (max-width: 1233px) {
  .imglood {
    -webkit-transform: translate(19px, -161px);
            transform: translate(19px, -161px);
  }
}

@media only screen and (max-width: 769px) {
  .imglood {
    -webkit-transform: translate(16px, -139px);
            transform: translate(16px, -139px);
  }
}

.lod-animay {
  height: 14rem;
}

.onlode {
  display: none;
}

@-webkit-keyframes lodeanimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(36deg);
            transform: rotate(36deg);
  }
  20% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  30% {
    -webkit-transform: rotate(108deg);
            transform: rotate(108deg);
  }
  40% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  60% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  70% {
    -webkit-transform: rotate(252deg);
            transform: rotate(252deg);
  }
  80% {
    -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
  }
  90% {
    -webkit-transform: rotate(324deg);
            transform: rotate(324deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lodeanimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(36deg);
            transform: rotate(36deg);
  }
  20% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  30% {
    -webkit-transform: rotate(108deg);
            transform: rotate(108deg);
  }
  40% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  60% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  70% {
    -webkit-transform: rotate(252deg);
            transform: rotate(252deg);
  }
  80% {
    -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
  }
  90% {
    -webkit-transform: rotate(324deg);
            transform: rotate(324deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes arrowanimation {
  0% {
    -webkit-transform: translate(-2px, 0px);
            transform: translate(-2px, 0px);
  }
  50% {
    -webkit-transform: translate(-9px, 0px);
            transform: translate(-9px, 0px);
  }
  100% {
    -webkit-transform: translate(-18px, 0px);
            transform: translate(-18px, 0px);
  }
}

@keyframes arrowanimation {
  0% {
    -webkit-transform: translate(-2px, 0px);
            transform: translate(-2px, 0px);
  }
  50% {
    -webkit-transform: translate(-9px, 0px);
            transform: translate(-9px, 0px);
  }
  100% {
    -webkit-transform: translate(-18px, 0px);
            transform: translate(-18px, 0px);
  }
}

@-webkit-keyframes headerwanimation {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  100% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
}

@keyframes headerwanimation {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(-5px, 0px);
            transform: translate(-5px, 0px);
  }
  100% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  }
}
/*# sourceMappingURL=main.css.map */